body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header-container {
    background: #1f2937;
    display: flex;
    justify-content: space-between;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: 900;
    padding: 24px 100px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

ul {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 100px;
    gap: 24px;
    color: #e5e7eb;
    font-size: 18px;
    list-style-type: none;
    margin: 0px;
}

.awesome-container {
    display: flex;
    height: 400px;
    justify-content: center;
    gap: 48px;
    background-color: #1f2937;
}

.awesome-text-container {
    display: flex;
    flex-direction: column;
    width: 500px;
    padding: 48px;
}

.website {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.awesome-text {
    display: flex;
    padding: 16px 0px;
    color: #e5e7eb;
    font-size: 18px;
}

button {
    color: blue;
    padding: 8px;
    width: 100px;
}

.random-container {
    display: flex;
    flex-direction: column;
}

.random-container img {
    width: 200px;
    height: 200px;
}

.row {
    display: flex;
    justify-content: center;
    gap: 48px;
}

.random {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    padding: 48px;
}

.image-text-container {
    display: flex;
    flex-direction: column;
    width: 200px;
    justify-content: center;
    align-items: center;
    padding-bottom: 48px;
}

.text {
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thor-container {
    display: flex;
    background-color: #e5e7eb;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.thor-quote {
    display: flex;
    font: #1f2937; 
    font-size: 36px;
    font-style: italic;
}

.thor-quote-container {
    display: flex;
    flex-direction: column;
    width: 944px;
    padding: 48px;
}

.thor {
    display: flex;
    color: #1f2937;
    font-size: 24px;
}

.footer {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    padding: 18px;
    color: #e5e7eb;
    font-size: 18px;
}






